service: aws-runtime-pypy

provider:
  name: aws
  runtime: python3.7
  region: eu-central-1

package:
  exclude:
    - test/**
    - pypy3-v6.0.0-linux64/bin/*debug
    #- pypy3-v6.0.0-linux64/lib-python/**

functions:
  hello:
    handler: handler.hello
    events:
      - http:
          path: primes
          method: get
